
<div class="message ">
    <h1>Access to this page is restricted</h1>
    <h3>You don't have the permission to access this page.</h3>
    <p>Possible reason might be the user is not logged in or the user does not have the permission to access this page.</p>
</div>