@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Header"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@ViewData["MainHeader"]</a></li>
                    <li class="breadcrumb-item active">@ViewData["Header"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="card card-success card-outline">
            <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5> -->
                <!-- <p class="card-text">
                    This will be the content area for the starting or landing page.
                </p> -->
                <table id="tblLeaveHistory" class="table table-bordered table-striped table-hover data-table-width">
                </table>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
