<script src="~/lib/jQueryPrint/jQuery.print.js"></script>
<script src="~/js/teacher/coursestudentlist.js"></script>

@{
    ViewData["Title"] = "Teacher Portal | Manage Student";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Header"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@ViewData["MainHeader"]</a></li>
                    <li class="breadcrumb-item active">@ViewData["Header"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <!--print heading-->
    <div class="row" id="printheading">                
                <div class="col">
                    <img src="#" class="rounded float-left img-fluid" style="width:100px; height:auto;" alt="MC logo" id="mclogo" />
                </div>
                <div class="col text-center" id="text-header">
                    <h5>Republic of the Philippiness</h5>
                    <h6>City of Mandaue</h6>
                    <h6>Mandaue City College</h6>
                    <h6>Don Andres Soriano Ave., Centro Mandaue City</h6>
                </div>
                <div class="col">
                    <img src="#" class="rounded float-right img-fluid" style="width:100px; height:auto;" alt="MCC logo" id="mcclogo" />
                </div>           
    </div>

    <!--Data Table-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <label>Course:</label>


                <select class="course-select mb-2" id="teacherCourseDropdown" style="width:100%;" aria-label="select a course">
                    <option selected>Select a course</option>
                </select>
            </div>
           
            <!---<div class="col-2">
                <button type="button" class="btn btn-success print-record">Print</button>
            </div>-->
        </div>
        <div class="row mb-2">
            <div class="col">
                <button type="button" class="btn btn-success" id="openUnenrolledStudentModal">Add Student</button>
            </div>
            @*<div><button type="button" class="btn btn-success print-record">Print</button></div>*@
            <div class="col float buttons-location">                
            </div>
        </div>
        <div class="card card-success card-outline">                   
            <div class="card-body card-main">
                <!--Table for master list-->
                <table id="tblCourseStudentList" class="table table-bordered table-striped table-hover data-table-width">
                </table>
            </div>
        </div>
    </div> <!-- /.container-fluid -->

    <!--Modal-->
    <div class="modal fade" id="unenrolledStudentModal" role="dialog">
        <div class="modal-dialog" style="max-width: 100%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <!--Table for unenrolled students-->
                    <table id="tblUnenrolledStudent" class="table table-bordered table-striped table-hover data-table-width" style="width: 100%">
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!--Modal Student Info-->
    <div class="modal fade" id="studentDetails" role="dialog">
        <div class="modal-dialog" style="max-width: 100%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    @*<h4 id="modalTitle" class="modal-title"></h4>*@
                </div>
                <!--View student profile-->
                <div class="card card-success card-student-profile">
                    <div class="card-header align-items-center justify-content-center h-100">
                        <div class="row">
                            <div class="col-sm-10 col-md-10 text-center">Student Information</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div id="loadHeading">

                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 overflow-hidden">
                                        <div class="card">
                                            <img class="card-img-top img-fluid" src="~/img/avatar5.png" id="teacher-student-image" alt="Student Image">
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 ">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item "><a data-toggle="tab" href="#General" class="text-success nav-link active"><i class="fa fa-indent"></i>General</a></li>
                                            <li class="nav-item"><a data-toggle="tab" href="#Contact" class="text-success nav-link"><i class="fa-solid fa-square-phone mr-1"></i> Contact Info</a></li>
                                            <li class="nav-item"><a data-toggle="tab" href="#Address" class="text-success nav-link"><i class="fa fa-home"></i>Address</a></li>
               
                                        </ul>

                                        <div class="tab-content">
                                            <div id="General" class="tab-pane fade show active">

                                                <div class="table-responsive card">
                                                    <table class="table d-flex justify-content-between flex-nowrap" id="table-student-details">
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-success">Full Name:<span class="tdvalue ml-1" id="fullName">Riche Arda</span></td>

                                                            </tr>
                                                            <tr>
                                                                <td class="text-success">Student Number:<span class="tdvalue ml-1" id="studentNumber">217-03803</span></td>

                                                            </tr>
                                                            <tr>
                                                                <td class="text-success">Program:<span class="tdvalue ml-1" id="program">BS Information Technology</span></td>

                                                            </tr>
                                                            <tr>
                                                                <td class="text-success">Major:<span class="tdvalue ml-1" id="major">Information Technology</span></td>

                                                            </tr>

                                                            <tr>
                                                                <td class="text-success">Year Level:<span class="tdvalue ml-1" id="yearLevel">Fourth Year</span></td>

                                                            </tr>

                                                        </tbody>

                                                        <tbody>
                                                            <tr>
                                                                <td class="text-success">Gender:<span class="tdvalue ml-1" id="gender">Male</span></td>

                                                            </tr>
                                                            <tr>
                                                                <td class="text-success">Civil Status:<span class="tdvalue ml-1" id="civilStatus">Single</span></td>

                                                            </tr>
                                                            <tr>
                                                                <td class="text-success">Nationality:<span class="tdvalue ml-1" id="nationality">Filipino</span></td>

                                                            </tr>
                                                            <tr>
                                                                <td class="text-success">Birthdate:<span class="tdvalue ml-1" id="birthdate">October 30, 1996</span></td>

                                                            </tr>
                                                            <tr>
                                                                <td class="text-success">Age:<span class="tdvalue ml-1" id="age">25</span></td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="Contact" class="tab-pane fade">
                                                <div class="table-responsive card">
                                                    <table class="table">
                                                        <tbody>

                                                            <tr>
                                                                <td class="text-success"><i class="fa-solid fa-square-phone"></i> Telephone No.:<span class="tdvalue ml-1" id="telephoneNumber">032-20302</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa-solid fa-mobile"></i> Mobile No.:<span class="tdvalue ml-1" id="mobileNumber">09090909</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa-solid fa-at"></i> Email:<span class="tdvalue ml-1" id="email">email@gmail.com</span></td>
                                                            </tr>                      
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="Address" class="tab-pane fade">
                                                <div class="table-responsive card">
                                                    <table class="table">
                                                        <tbody>

                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-home"></i> Address</td>
                                                                <td>
                                                                    <address>

                                                                        <strong>
                                                                            House No.
                                                                        </strong><br />   
                                                                                 <span id="houseno"></span><br />
                                                                        <strong>
                                                                            Street Name
                                                                        </strong><br />
                                                                        <span id="streetname"></span><br />
                                                                        <strong>
                                                                            Barangay
                                                                        </strong><br />
                                                                        <span id="barangay"></span><br />
                                                                        <strong>
                                                                            Municipality
                                                                        </strong><br />
                                                                        <span id="municipality"></span><br />
                                                                        <strong>
                                                                            Province
                                                                        </strong><br />
                                                                        <span id="province"></span>
                                                                    </address>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>                                           

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.container-fluid -->
</div><!-- /.content -->
            
